{{ form_start(formPassword) }}
    {# Password  #}
    <div class="col-lg-6 form-group">
        {{ form_label(formPassword.password, 'Mot de Passe') }}
        {% if formPassword.password.vars.errors | length == 0 %}
        {{ form_widget(formPassword.password, {'label': 'Mot de Passe', 'attr' : { class: 'form-control' }} ) }}
        {% else %}
        {{ form_widget(formPassword.password, {'label': 'Mot de Passe', 'attr' : { class: 'form-control is-invalid' }} ) }}
        {% endif %}
        <div class="form-error">
            {{ form_errors(formPassword.password) }}
        </div>
    </div><br> #}
    <button class="btn btn-primary d-block mx-auto w-50">{{ button_label|default('Save') }}</button>
{{ form_end(formPassword) }}

