{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-centered mt-5 mb-4">Utilisateurs</h1>
    <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter</a>
    <div class="d-flex justify-content-center mt-4">{{ knp_pagination_render(users) }}</div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                {% if user.roles %} 
                    {% if "ROLE_ADMIN" in user.roles|json_encode %}
                        Administrateur
                    {% elseif "ROLE_USER" in user.roles|json_encode%}
                        Utilisateur
                    {% endif %}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">{{ knp_pagination_render(users) }}</div>
</div>
{% endblock %}
