{% extends 'admin.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    {# cours index #}
    {# buttons #}
    <div class="col m-3 d-flex justify-content-between">
        <div class="d-flex">
            <a href="{{ path('cours_index') }}" class="btn btn-warning d-block">Menu des Cours</a>
            <a href="{{ path('show_cours', {'id': cour.id}) }}" class="btn btn-secondary" title="Voir"><i class="far fa-eye"></i></a> 
        </div>
        {{ include('admin/cours/_delete_form.html.twig') }}
    </div>
    {# title #}
    <h1 class="text-centered mt-5 mb-4">Modifier un Cours</h1>

    <div class="container mb-5">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>

     <div class="container mb-5">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    {{ include('admin/cours/_form.html.twig', {'button_label': 'Update'}) }}

    {# lessons index #}
    <div class="container">
        <h1 class="text-centered mt-5 mb-4">Leçons associées</h1>
        {# pagination #}
        <div clss="d-flex justify-content-center mt-4">{{ knp_pagination_render(lessons) }}</div>

        <table class="table table-dark">
            <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.orderId }}. {{ lesson.title }}</td>
                    {# <td>{{ lesson.content[0:50]|raw  }}...</td> #}
                    <td class="d-flex">
                        
                        <form method="post" class="form-position" id="form-up-{{ lesson.id }}" action="{{ path('lesson_up', {id:lesson.id}) }}">
                            {# <input type="hidden" name="_method" value="POST"> #}
                            <input type="hidden" name="orderId" value="{{ lesson.orderId - 1 }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ lesson.id) }}">
                            <div>
                                <button class="btn btn-secondary btn-position" id="up" data-url="up-{{ lesson.id }}" {% if lesson.orderId <= 1 %} disabled {% endif %}><i class="fas fa-sort-up"></i></button>
                            </div>
                        </form>
                        
                        <form method="post" class="form-position" id="form-down-{{ lesson.id }}" action="{{ path('lesson_down', {id:lesson.id}) }}">
                            {# <input type="hidden" name="_method" value="POST"> #}
                            <input type="hidden" name="orderId" value="{{ lesson.orderId + 1 }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ lesson.id) }}">
                            <div>
                                <button class="btn btn-secondary btn-position" id="down" data-url="down-{{ lesson.id }}"  {% if lesson.orderId >= lessons|length %} disabled {% endif %}><i class="fas fa-sort-down"></i></button>
                            </div>
                        </form>
                       
                    </td>
                    <td>
                        <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="btn btn-warning" title="Modifier"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# pagination #}
        <div class="d-flex justify-content-center mt-4">{{ knp_pagination_render(lessons) }}</div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('/js/myscript.js') }}"></script>
<script src="{{ asset('/js/edit.js') }}"></script>
{% endblock %}
