{% extends 'admin.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    {# lesson edit  #}
    {# buttons #}
    <div class="col m-3 d-flex justify-content-between">
        <div class="d-flex">
            <a href="{{ path('cours_edit', {id:lesson.cours.id}) }}" class="btn btn-warning d-block">Cours Parent</a>
            {# <a href="{{ path('cours_index') }}" class="btn btn-warning d-block">Cours Parent</a> #}
            <a href="{{ path('lesson_show', {slug: lesson.cours.slug, order:lesson.orderId}) }}" class="btn btn-secondary" title="Voir"><i class="far fa-eye"></i></a> 
        </div>
        {{ include('admin/lesson/_delete_form.html.twig') }}
    </div>
    <h1 class="text-centered">Modifier une Leçon</h1>

    <div class="container mb-5">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    {{ include('admin/lesson/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('/js/myscript.js') }}"></script>
{% endblock %}

