{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Video</th>
                <th>Content</th>
                <th>Order_id</th>
                <th>Title</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.video }}</td>
                <td>{{ lesson.content }}</td>
                <td>{{ lesson.orderId }}</td>
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.completed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lesson_new') }}">Create new</a>
{% endblock %}
