{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cour.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ cour.level }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ cour.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
