{% extends 'admin.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <div class="col m-3 d-flex">
        <a href="{{ path('cours_index') }}" class="btn btn-warning d-block">Menu des Cours</a>
        <a href="{{ path('cours_edit', {'id': cour.id}) }}" class="btn btn-primary">Modifier</a>
    </div>
    <h1 class="text-centered mt-5 mb-4">Cours</h1>

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ cour.titre }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ cour.description }}</td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>{{ cour.level }}</td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td>{{ cour.duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
